.features {
    display: none;
    position: relative;
    @include for-large-up {
        visibility: visible;
        display: flex;
    }
    &__content {
        width: 1140px;
        display: flex;
        margin: auto;
    }

    &__column {
        width: 459px;
    }

    &__subtitle {
        line-height: 34px;
        font-size: 22px;
        font-weight: 700;
        color: #009b4d;
        padding-bottom: 24px;
        margin: 0;
    }

    &__title {
        line-height: 56px;
        font-size: 56px;
        font-weight: 700;
        letter-spacing: -0.5px;
        width: 462px;
        margin: 0;
    }

    &__description {
        margin-bottom: 0;
        margin-top: 30px;
        width: 461px;
        line-height: 34px;
        font-size: 24px;
    }

    &__advantage-header {
        line-height: 42px;
        display: flex;
        margin-top: 42px;
    }

    &__advantage-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #3142c6;
        margin: 0;
        margin-left: 15px;
    }

    &__advantage-description {
        font-size: 18px;
        line-height: 26px;
        width: 459px;
        margin: 0;
        margin-top: 8px;
        border-bottom: 3px solid #3142c6;
        padding-bottom: 20px;
    }

    &__advantage-item {
        border-bottom: 1px solid #2b292d26;
        margin-top: 21px;
        padding-bottom: 22px;
        display: flex;
    }

    &__advantage-item-text {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        margin-left: 15px;
    }

    &__left-decoration {
        height: 166px;
        position: absolute;
        top: 258px;
    }

    &__banner {
        position: absolute;
        right: 0;
        filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
    }
}
