.action__button {
  width: 160px;
  height: 48px;
  background-color: #3040c4;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

@media screen and (max-width: 1399px) {
  .headline__actions-btn {
    width: 100%;
  }
}

@media screen and (max-width: 1399px) {
  .additional-navigation {
    flex-direction: column;
  }
}

@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .logo__vertical {
    display: flex;
  }
}

.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 131px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  line-height: 32px;
  font-size: 22px;
  margin: 0;
}
.article__text {
  line-height: 32px;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 6px;
}

.customers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 1400px) {
  .customers {
    padding-top: 30px;
    padding-bottom: 106px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1140px;
    align-items: center;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  height: 94px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  flex: 1;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.features {
  display: none;
  position: relative;
}
@media screen and (min-width: 1400px) {
  .features {
    visibility: visible;
    display: flex;
  }
}
.features__content {
  width: 1140px;
  display: flex;
  margin: auto;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  line-height: 34px;
  font-size: 22px;
  font-weight: 700;
  color: #009b4d;
  padding-bottom: 24px;
  margin: 0;
}
.features__title {
  line-height: 56px;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -0.5px;
  width: 462px;
  margin: 0;
}
.features__description {
  margin-bottom: 0;
  margin-top: 30px;
  width: 461px;
  line-height: 34px;
  font-size: 24px;
}
.features__advantage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  width: 459px;
  margin: 0;
  margin-top: 8px;
  border-bottom: 3px solid #3142c6;
  padding-bottom: 20px;
}
.features__advantage-item {
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  height: 166px;
  position: absolute;
  top: 258px;
}
.features__banner {
  position: absolute;
  right: 0;
  filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 0;
}
.footer-description {
  display: none;
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  opacity: 0.6;
  margin-top: 26px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .footer-description {
    display: block;
  }
}
.footer-navigation {
  display: flex;
  margin: 0;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    height: 338px;
    display: flex;
    width: 1140px;
    margin: 0 auto;
    flex-direction: row;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}
.footer .logo__description {
  display: block;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.about-company {
  margin-top: 48px;
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 30px;
    margin-left: 126px;
  }
}

.nav-links {
  width: 265px;
}
@media screen and (min-width: 1400px) {
  .nav-links {
    margin-top: 30px;
  }
}
.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  color: #2b292d99;
  opacity: 0.6;
  padding: 0;
  margin-top: 18px;
}

.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}

.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    flex-direction: row;
    width: 100%;
  }
}

.usefull-links {
  width: 1140px;
  margin: 0 auto;
  height: 338px;
}

.terms {
  line-height: 50px;
  opacity: 0.6;
  font-size: 14px;
}
.terms__items {
  text-decoration: none;
  color: #2b292d99;
  margin-right: 22px;
}

.social-links {
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
  }
}
.social-links__item {
  margin-right: 20px;
}
@media screen and (min-width: 1400px) {
  .social-links__item {
    margin-left: 20px;
  }
}

.logo-vertical {
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
@media screen and (max-width: 1399px) {
  .logo-vertical {
    display: flex;
  }
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}

.header {
  width: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    background-color: #f3c6bd;
    width: 1140px;
    height: 62px;
    display: flex;
    margin: auto;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 48px;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}

.top-section {
  background-color: #f3c6bd;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
    width: 100%;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
    display: block;
  }
}
.navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  color: #2b292d;
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}

.logo {
  display: flex;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    width: 1140px;
    margin: auto;
    position: relative;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    font-weight: 700;
    font-size: 80px;
    height: 165px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin: 0;
  }
}
.headline__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 24px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
  }
}
.headline__content {
  margin-top: 35px 15px 33px 15px;
  z-index: 1;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (max-width: 1399px) {
  .headline__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
    width: 100%;
  }
}
.headline__learn-more-btn {
  width: 158px;
  height: 48px;
  background-color: #fff;
  color: #3040c4;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
.headline___img {
  width: 100%;
  margin-bottom: 36px;
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .headline___img {
    position: relative;
    top: 0;
    right: -105px;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
@media screen and (max-width: 1399px) {
  .headline__actions-btn {
    width: 100%;
    margin-left: 15px;
  }
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0px 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 29px;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 20px;
  max-width: 100%;
}

.inbox {
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .inbox {
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  .inboxinbox__info {
    display: flex;
    width: 519px;
    padding-left: 100px;
  }
}
.inbox__image {
  margin: auto;
  max-width: 100%;
}
@media screen and (min-width: 1400px) {
  .inbox__image {
    margin-top: 142px;
  }
}
.inbox__image-caption {
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__image-caption {
    display: block;
    margin: 0;
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
  }
}
.inbox__description {
  margin-top: 32px;
}
@media screen and (min-width: 1400px) {
  .inbox__description {
    margin-left: 192px;
    width: 462px;
    display: flex;
    flex-direction: column;
    margin-top: 115px;
  }
}
.inbox__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle {
    margin: 0;
  }
}
.inbox__subtitle-ifo {
  margin: 0;
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle-ifo {
    margin: 0;
    margin-top: 30px;
    font-size: 24px;
    line-height: 34px;
  }
}
.inbox__feedback {
  margin-top: 30px;
  height: 321px;
  background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid #0185d0;
}
@media screen and (min-width: 1400px) {
  .inbox__feedback {
    height: 213px;
    background-color: none;
    border-bottom: none;
    box-shadow: none;
    border-bottom: 4px solid #0185d0;
  }
}
.inbox__feedback-description {
  margin: 0;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 28px;
}
@media screen and (min-width: 1400px) {
  .inbox__feedback-description {
    margin: 0;
    margin-top: 74px;
    margin-left: 194px;
    font-size: 20px;
    line-height: 28px;
    width: 461px;
  }
}
.inbox__feedback-description-item {
  font-weight: 700;
}
@media screen and (min-width: 1400px) {
  .inbox__feedback-description-item {
    font-size: 20px;
    line-height: 28px;
  }
}
.inbox__user {
  margin-top: 28px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1400px) {
  .inbox__user {
    margin: 0;
    margin-left: 193px;
    margin-top: 28px;
  }
}
@media screen and (min-width: 1400px) {
  .inbox__border {
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid #0185d0;
  }
}

.image__title {
  margin: 0;
  margin: 17px 15px 0px 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}
@media screen and (min-width: 1400px) {
  .image__title {
    margin: 0;
    margin-top: 24px;
  }
}

.user__feedback {
  display: flex;
  margin: 0;
  margin-left: 11px;
  height: 66px;
}

.user__info {
  flex-direction: column;
  margin-left: 11px;
  margin-top: 26px;
  line-height: 22px;
  width: 199px;
}
@media screen and (min-width: 1400px) {
  .user__info {
    width: 225px;
  }
}

.user__name {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.user__description {
  font-size: 16px;
  color: rgba(43, 41, 45, 0.6);
}

.communication {
  margin: 0;
  margin-top: 48px;
}
@media screen and (min-width: 1400px) {
  .communication {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 126px;
    width: 1144px;
  }
}
.communication__description {
  margin: 0;
  margin-top: 50px;
  margin-left: 15px;
}
.communication__description-subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
}
@media screen and (min-width: 1400px) {
  .communication__description-subtitle {
    margin: 0;
    margin-top: 123px;
  }
}
.communication__description-title {
  margin: 0;
  margin-top: 17px;
  width: 290px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .communication__description-title {
    margin: 0;
    margin-top: 24px;
    width: 462px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.communication__description-info {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .communication__description-info {
    margin: 0;
    margin-top: 30px;
    width: 461px;
  }
}
.communication__button .action__button {
  margin-top: 30px;
  margin-left: 15px;
  padding: 0;
}
@media screen and (min-width: 1400px) {
  .communication__button .action__button {
    margin: 0;
    margin-top: 40px;
    margin-left: 15px;
  }
}
.communication__image {
  margin: 0;
  margin-top: 40px;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .communication__image {
    position: absolute;
    margin-left: 782px;
  }
}
.communication__image-item {
  height: 291px;
  width: 350px;
}
@media screen and (min-width: 1400px) {
  .communication__image-item {
    width: 425px;
    height: 426px;
  }
}
.communication__image-caption {
  margin-top: 17px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.communication__info {
  margin-top: 74px;
  width: 290px;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .communication__info {
    margin-top: 129px;
    display: flex;
    width: 1144px;
  }
}
.communication__info-description {
  width: 290px;
}
@media screen and (min-width: 1400px) {
  .communication__info-description {
    width: 360px;
    height: 115px;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    margin-right: 30px;
  }
}
.communication__info-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.communication__info-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #3040c4;
  text-decoration: underline;
}
@media screen and (min-width: 1400px) {
  .communication__info-item {
    margin: 0;
    margin-top: 10px;
    display: block;
  }
}

.audiences {
  width: 320px;
  height: 1808px;
  margin: 0;
  background-color: rgba(0, 161, 198, 0.07);
}
@media screen and (min-width: 1400px) {
  .audiences {
    width: 1400px;
    height: 983px;
  }
}
.audiences__description {
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 1400px) {
  .audiences__description {
    display: flex;
    flex-direction: column;
    width: 555px;
    margin: 0;
    margin-left: 422px;
  }
}
.audiences__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audiences__subtitle {
    margin-top: 108px;
  }
}
.audiences__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .audiences__title {
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    height: 112px;
  }
}
.audiences__info {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audiences__info {
    margin: 0;
    margin-top: 30px;
  }
}
.audiences__button .action__button {
  width: 100%;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audiences__button .action__button {
    height: 48px;
    width: 160px;
    border-radius: 2px;
  }
}
.audiences__button .headline__learn-more-btn {
  width: 100%;
  margin: 0;
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .audiences__button .headline__learn-more-btn {
    height: 48px;
    width: 158px;
    left: 0px;
    top: 0px;
    border-radius: 2px;
  }
}
.audiences__image {
  margin: 0;
  margin-left: 15px;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audiences__image {
    display: flex;
  }
}
.audiences__image-developers {
  width: 290px;
  height: 300px;
  left: 15px;
  top: 7324px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .audiences__image-developers {
    margin: 0;
    margin-left: 130px;
    height: 300px;
    width: 262px;
    border-radius: 8px;
  }
}
.audiences__image-first {
  width: 138px;
  height: 195px;
  margin: 0;
  margin-left: 76px;
  margin-top: 22px;
}
.audiences__image-caption {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  margin-top: 22px;
}
.audiences__image-entertainment {
  width: 290px;
  height: 300px;
  background: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .audiences__image-entertainment {
    margin: 0;
    margin-left: 30px;
    height: 300px;
    width: 262px;
    border-radius: 8px;
  }
}
.audiences__image-second {
  width: 142px;
  height: 195px;
  margin: 0;
  margin-left: 74px;
  margin-top: 22px;
}
.audiences__image-caption-white {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 22px;
}
.audiences__image-athletes {
  width: 290px;
  height: 300px;
  margin-top: 15px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .audiences__image-athletes {
    margin: 0;
    margin-left: 30px;
    height: 300px;
    width: 262px;
    border-radius: 8px;
  }
}
.audiences__image-third {
  width: 160px;
  height: 195px;
  margin-top: 22px;
  margin-left: 65px;
}
.audiences__image-creators {
  width: 290px;
  height: 300px;
  left: 15px;
  top: 8269px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .audiences__image-creators {
    margin: 0;
    margin-left: 30px;
    height: 300px;
    width: 262px;
    border-radius: 8px;
  }
}
.audiences__image-four {
  width: 119px;
  height: 195px;
  margin: 0;
  margin-top: 22px;
  margin-left: 80px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
